@font-face {
    font-family: 'OPTIFrankfurter';
    src: url('https://f9.limitedrun.com/fonts/970/OPTIFrankfurter-Medium.woff2') format('woff2'),
        url('https://f9.limitedrun.com/fonts/969/OPTIFrankfurter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lightzone';
    src: url('https://f9.limitedrun.com/fonts/977/Lightzone.woff2') format('woff2'),
        url('https://f9.limitedrun.com/fonts/976/Lightzone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*CSS RESET*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{box-sizing:border-box}
/***********/

html, body {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

/**************/

body {
    color: #3a3a3a;
    font-family: 'Didact Gothic', sans-serif;
    background: url(./img/bodytex.webp);
    background-size: 100% auto;
}

body::after, body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

body::after {
    background: url(./img/dottex.jpg);
    mix-blend-mode: overlay;
    opacity: 0.4;
    z-index: 9;
}

body::before {
    position: fixed;
    height: 105vh;
    background: #FE8;
    opacity: 0.2;
    mix-blend-mode: unset;
    z-index: 10;
}

h1, h2, h3, .milestone-title, .links a, .links span, .mbutton, .milestone-subtitle, .scp_item-details {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75), -1px 1px rgba(0, 0, 0, 0.75), 1px -1px rgba(0, 0, 0, 0.75), -1px -1px rgba(0, 0, 0, 0.75);
    font-family: OPTIFrankfurter;    
    text-transform: uppercase;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5vw;
}

#home img, #map img {
    width: 600px;
    max-width: 90vw;
}  

#home {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: url(/img/awesometex.jpg?);
    background-size: auto 100%;
}

#home img {
    margin-top: 5vh;
}

.links {
    margin-bottom: 5vh;
}  

.links a, .links span, .mbutton {
    position: relative;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    font-size: calc(0.75em + 0.75vw);
    color: #ebefde;
    background: #f7df48;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0.25em;
    letter-spacing: 2px;
}

.upperlinks a {
    /* font-size: 32px; */
    font-size: 16px;
    padding: 10px 30px;
}

.links .lowerlinks a, .links .lowerlinks span, .mbutton {
    font-size: 14px;
    max-width: 100%;
    width: 10em;
    background: #db5342;
    color: #f7f1dd;
}

.drop {
    position: absolute;
    flex-direction: column;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: opacity 400ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    padding-bottom: 10px;
}

.drop > a {
    font-size: 16px;
    margin: 5px 0;
    width: 100% !important;
}

.links span:hover .drop {
    opacity: 1;
    pointer-events: inherit;
}

h1, h2, h3, .milestone-title, .links a, .links span, .mbutton {
    position: relative;
}
  

@media only screen and (max-width: 600px){ 
    .links {
        margin-bottom: 4vh;
    }

    .links a, .links span {
        font-size: /*4vw*/ 3vw;
        flex-grow: 1;
    }

    .lowerlinks, .upperlinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .links .lowerlinks a, .links .lowerlinks span {
        font-size: 2.5vw;
        flex-grow: 1;
        flex-basis: 40%;
        font-size: 2.5vw;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes CLOUDDRIFT {
    0% { transform: translateX(0) }
    100% { transform: translateX(-50%)}
}

.admat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5vh auto 5vh;
}

.admat img {
    margin-bottom: 2.5vh;
    width: 700px;
}

#map h2, section h2 {
    color: #e64836;
    margin: 0.5em auto;
}

#map h2, section h2 {
    font-size: calc(2em + 1vw);
}

#map, section ~ section {
    justify-content: flex-start;
    padding: 7.5vh 0 5vh;
    z-index: 2;    
    box-shadow: 0px 25px 4vh #eee6ce;
    background: url(./img/papertex.jpg);
}

#map::before, section ~ section::before {
    content: "";
    position: absolute;
    top: -5vh;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(217, 209, 187) 6%, rgba(177, 208, 213, 0) 10%, rgba(255,255,255,0) 10%);
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}
  
.roadmap {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 1300px;
    max-width: 100%;
    margin: 5vh auto;
}

.milestone {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 90%;
    min-height: 150px;
    background: #e7dfc6;
    border: 2px dashed black;
    border-radius: 15px;
    padding: 1em 10px;
    margin-right: auto;
    text-align: center;
}

.milestone > *:empty {
    display: none;
}

.milestone-title, .milestone-subtitle {
    font-size: calc(1em + 1vw);
    letter-spacing: 0.15em;
    width: 100%;
    display: block;
    text-transform: uppercase;
}

.milestone-subtitle {
    width: 100%;
    margin-top: 0.5em;
    font-style: italic;
    font-size: 1.2em;
    color: #faa21c;
}

.milestone-body {
    margin-top: 1em;
    width: 100%;
}

.milestone:nth-child(3n+1) .milestone-title {
    color: #ee2625;
}

.milestone:nth-child(3n+2) .milestone-title {
    color: #faa21c;
}

.milestone:nth-child(3n+3) .milestone-title {
    color: #739eab;
}

.milestone::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-image: url('./img/placeholdermap.png');
    background-size: cover;
    transform: translateY(80%) translateX(50%);
    z-index: -1;
    pointer-events: none;
}

.milestone:nth-child(2n+2) {
    margin-left: auto;
    margin-right: 0;
    padding-right: 10px;
}

.milestone:nth-child(3n+2)::after {
    background-image: url('./img/placeholdermap2.png');
}
  
.milestone:nth-child(3n+2)::after, .milestone:nth-child(3n+3)::after {
    transform: translateY(80%) rotateY(180deg) translateX(50%);
}  

.milestone ~ .milestone {
    margin-top: 10vh;
}

.milestone:last-child::after {
    opacity: 0;
}

.mbutton {
    width: auto;
}

.milestone.final {
    width: 100%;
    max-width: 100%;
}  

.milestone.covered {
    padding: 0;
}

.milestone.covered .milestone-title {
    text-align: center;
}
  

@media only screen and (max-width: 800px) {
    .roadmap {
        padding: 0 10px;
    }

    .milestone, .milestone:nth-child(2n+2), .milestone.final {
        text-align: center;
        padding: 1em 10px;
    }

    .milestone::after {
        width: 600px;
        width: 375px;
        left: 0;
    }
  
    .milestone:nth-child(3n+2)::after, .milestone:nth-child(3n+3)::after {
        right: 0;
        left: unset;
    }  
}

footer {
    font-size: calc(1.5em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 14vh;
    background: url(./img/bgnoboat.jpg);
    background-position: bottom;
    z-index: 1;
    position: relative;
    padding: 60px 0 40px;
}

footer img {
    max-width: 75px;
}

footer > *:first-child {
    padding: 1vh 0;
}

footer > a {
    font-family: OPTIFrankfurter;
}

.socials a {
    padding: 0 0.25em 0;
}
  

/* pivot sections */
#album {
    max-width: 800px;
}

#album li, #album ol {
    text-align: left;
    margin: 1em auto;
}

#album ol {
    list-style: numbered;
    columns: 2;
    column-gap: 2em;
    width: 90%;
}

#album li {
    margin-top: 0;
}

strong {
    font-weight: 600;
    font-style: italic;
    font-family: OPTIFrankfurter;
    letter-spacing: 1px;
}

#radioshow {
    width: 700px;
    padding: 15px 0;
}

#radioshow p {
    margin: 1em;
    font-weight: 600;
}

body .bit-widget-container {
    padding: 15px;
    text-align: left;
}

body .bit-venue {
    font-weight: 400;
}

.seated-event-link1, .seated-follow-link {
    background: #faa21b !important;
    color: #333232 !important;
    border: 1px solid #faa21b;
}
  
.seated-events-table > *:last-child {
    display: none !important;
}

.seated-events-table {
    text-align: left !important;
}

#videos {
    width: 800px;
}

#videos .milestone-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#videos .milestone-body > div {
    flex-basis: 50%;
    padding: 10px;
}

#videos .video-wrapper {
    margin: 1em 0;
}

@media only screen and (max-width: 800px) {
    #videos .milestone-body > div {
        flex-basis: 100%;
        padding: 5px;
    }
}
  
.video {
    max-width: 900px;
    width: 100%;
    margin: auto;
    max-height: 70vh;
    border-radius: 25px;
    overflow: hidden;
}


#home .video img {
    margin: -7% auto;
    width: 700px;
}  

/* helpers */
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width: 100%;
}

.video-wrapper iframe, .video-wrapper img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* tentative layout updates - not sure if we'll keep these */
#map img {
    border-radius: 25px;
}

#map {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

#map > * {
    flex-basis: 600px;
}

.admat {
    margin: 20px;
}







/* urgent urgent urgent */
.scp_grid {
max-width: 1250px;
}
.scp_item-details {
color: #f7f1dd;
}
.scp_item:nth-child(6) ~ .scp_item {
    display: none;
    }
    #merch .links {
    margin-top: 5vh;
    }