@font-face {
    font-family: 'OPTIFrankfurter';
    src: url('https://f9.limitedrun.com/fonts/970/OPTIFrankfurter-Medium.woff2') format('woff2'),
        url('https://f9.limitedrun.com/fonts/969/OPTIFrankfurter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lightzone';
    src: url('https://f9.limitedrun.com/fonts/977/Lightzone.woff2') format('woff2'),
        url('https://f9.limitedrun.com/fonts/976/Lightzone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*CSS RESET*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{box-sizing:border-box}
/***********/

html, body {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

/**************/

body {
    color: #3a3a3a;
    font-family: 'Didact Gothic', sans-serif;
}

body::after, body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

body::after {
    background: url(./img/dottex.jpg);
    mix-blend-mode: overlay;
    opacity: 0.4;
    z-index: 9;
}

body::before {
    position: fixed;
    height: 105vh;
    background: #FE8;
    opacity: 0.2;
    mix-blend-mode: unset;
    z-index: 10;
}

h1, h2, h3, .milestone-title, .links a, #tracklist > div, .mbutton {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75), -1px 1px rgba(0, 0, 0, 0.75), 1px -1px rgba(0, 0, 0, 0.75), -1px -1px rgba(0, 0, 0, 0.75);
    font-family: OPTIFrankfurter;    
    text-transform: uppercase;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5vw;
}

#home {
    background-image: url(./img/coverexpanded.jpg);
    background-size: cover;
    background-position: center;
}

#home img {
    margin-top: 5vh;
}

.links {
    margin-top: auto;
    margin-bottom: 5vh;
}  

.links a, .mbutton {
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    font-size: calc(0.75em + 1vw);
    background: #f7df48;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0.25em;
    letter-spacing: 2px;
}

.links .lowerlinks a, .mbutton {
    font-size: calc(0.75em + 0.5vw);
    width: 16em;
    background: #db5342;
    color: #f7f1dd;
}

@media only screen and (max-width: 600px){ 
    .links {
        margin-bottom: 4vh;
    }

    .links a {
        font-size: 5vw;
        color: #ebefde;
        flex-grow: 1;
    }

    .lowerlinks, .upperlinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .links .lowerlinks a {
        font-size: 3vw;
        flex-grow: 1;
        flex-basis: 40%;
    }

    .lowerlinks > a:nth-child(1) {
        width: 100%;
        flex-basis: 100%;
    }
}
  
#tracklist {
    background: url(./img/clouds.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 10vh 0;
    z-index: 2;
}

#tracklist::after {
    content: "";
    background: inherit;
    background-position: top;
    width: 200%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    animation: CLOUDDRIFT 60s cubic-bezier(.14,0,.86,.99) infinite alternate;
}

@keyframes CLOUDDRIFT {
    0% { transform: translateX(0) }
    100% { transform: translateX(-50%)}
}

#tracklist::before {
    content: "";
    position: absolute;
    top: -5vh;
    left: 0;
    width: 100%;
    height: calc(100% + 5vh);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(155, 199, 206) 5%, rgba(177, 208, 213, 0) 7%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 99%, #d5d5d5 100%);
    z-index: 2;
    pointer-events: none;
}

#tracklist h2 {
    color: #b7d0ce;
    margin: 0.5em auto;
}

#tracklist h2, #tracklist > div {
    font-size: calc(2em + 1vw);
}

#tracklist > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 1em;
    font-size: calc(1em + 0.5vw);
    text-shadow: unset;
}
  
#tracklist > div:last-child {
  font-size: 1em;
  margin-top: 2em;
}

#tracklist > div > span:not(span:last-child) {
    margin-bottom: 1em;
}

#map {
    background: url(./img/papertex.jpg);
    min-height: 50vh;
    justify-content: flex-start;
    padding: 5vh 0;
}
  
.roadmap {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 1300px;
    max-width: 100%;
    margin: 5vh auto;
}

.milestone {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #e7dfc6;
    border: 2px dashed black;
    border-radius: 15px;
    padding: 1em 10px;
    margin-right: auto;
    padding-right: 50px;
    text-align: right;
}

.milestone-title {
    font-size: calc(1em + 1vw);
    letter-spacing: 0.15em;
    width: 100%;
    display: block;
    text-transform: uppercase;
}

.milestone-subtitle {
    width: 100%;
    margin-top: 0.5em;
    font-style: italic;
}

.milestone-body {
    margin-top: 1em;
}

.milestone::after {
    content: "";
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(75%, 75%);
    background-image: url('./img/placeholdermap.png');
    background-size: 100% 100%;
    z-index: -1;
    pointer-events: none;
}

.milestone:nth-child(2n+2) {
    margin-left: auto;
    margin-right: 0;
    padding-right: 10px;
    padding-left: 50px;
    text-align: left;
}

.milestone:nth-child(2n+2)::after {
    right: unset;
    left: 0;
    transform: translate(-75%, 75%) rotateY(180deg);
    background-image: url('./img/placeholdermap2.png');
}

.milestone:not(.milestone:first-child) {
    margin-top: 2em;
}

.milestone:last-child::after {
    opacity: 0;
}

.milestone[reveal]::before, .milestone.final::before {
    content: "02:52:66";
    font-family: OPTIFrankfurter;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 1em;
    background: inherit;
    width: auto;
    height: 1.5em;
    padding: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
    letter-spacing: 0;
    border: 2px dotted;
}

.milestone:nth-child(2n+2)::before {
    right: unset;
    left: 0;
    transform: translate(-50%, -50%);
}

.mbutton {
    width: auto;
}

.milestone.final {
    width: 100%;
    margin: auto;
    text-align: center;
}

.milestone.final::before {
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 6em;
    margin: auto;
    font-size: 1.5em;
}

.milestone.final {
    padding: 2.5em 10px 1em;
    max-width: 800px;
}

.milestone.covered {
    padding: 0;
}

.milestone.covered .milestone-title {
    text-align: center;
}
  

@media only screen and (max-width: 1000px) {
    .milestone::before, .milestone:nth-child(2n+2)::before {
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        width: 6em;
    }

    .milestone, .milestone:nth-child(2n+2), .milestone.final {
        text-align: center;
        padding: 2.5em 10px 1em;
    }
}

footer {
    font-size: calc(1.5em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 14vh;
    background: url(./img/bgnoboat.jpg);
    background-position: bottom;
}

footer > * {
    padding: 1vh 0;
}

footer > a {
    margin-top: 0.25em;
    font-family: OPTIFrankfurter;
}

.socials a {
    padding: 0 0.25em;
}
  